html {
  font-family: Montserrat, sans-serif;
  color: red;
}

.second, .fourth, .fifth {
  font-family: "Abril Fatface", serif;
}

@media screen and (min-width: 38em) {

  body {
    color: #000;
    background: cyan;
  }

}

@media screen and (min-width: 60em) {

  html {
    font-size: 30%;
  }

  body {
    color: green;
    background: #999;
  }

  p {
    position: fixed;
    top: 50px;
    background-color: white;
  }

}

@media screen and (min-width: 65em) {

    html {
      font-size: 60%;
    }

  body {
    color: #EFC849;
    background: #d45;
  }

  p {
    position: fixed;
    top: 100px;
    background-color: #4AA3DF;
  }

}

@media screen and (min-width: 70em) {

    html {
      font-size: 120%;
    }

  body {
    color: white;
    background: #800D33;
  }

  p {
    position: fixed;
    top: 200px;
    background-color: magenta;
  }

}

@media screen and (min-width: 75em) {

    html {
      font-size: 155%;
    }

  body {
    color: yellow;
    background: #345;
  }

  p {
    position: fixed;
    top: 350px;
    background-color: #9A2A22;
  }

}

@media screen and (min-width: 80em) {

    html {
      font-size: 175%;
    }

  body {
    color: #fff;
    background: #623;
  }

  p {
    position: fixed;
    top: 500px;
    background-color: #5E4798;
  }

}

@media screen and (min-width: 85em) {

  html {
    font-size: 30%;

  }
  body {
    color: #000;
    background: green;
  }

  p {
    position: fixed;
    top: 350px;
    background-color: white;
  }

}

@media screen and (min-width: 90em) {

  html {
    font-size: 250%;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }

  body {
    color: green;
    background: white;
  }

  p {
    position: fixed;
    top: 150px;
    background-color: white;
  }

}
