html {
  font-family: Montserrat, sans-serif;
}

.second, .fourth {
  font-family: "Abril Fatface", serif;
}

@media screen and (min-width: 608px) {
  body {
    color: #fff;
    background:
      linear-gradient(
        to bottom,
        #5d9634,
        #5d9634 50%,
        #538c2b 50%,
        #538c2b
      );
    background-size: 100% 3em;
  }

}

@media screen and (min-width: 960px) {
  body {
    color: yellow;
    background: #000;
  }

}
